.alert {
	font-weight: $alert-font-weight;
}

.autofit-row.alert-autofit-row {
	margin-left: -0.25rem;
	margin-right: -0.25rem;

	> .autofit-col {
		padding-left: 0.25rem;
		padding-right: 0.25rem;

		&.autofit-col-expand {
			justify-content: center;
		}
	}
}