.nav-tabs {

	.nav-item {
		display: flex;
		align-items: center;
		margin-right: .28rem;

		&:last-child {
			margin-right: 0;
		}
	}

	.nav-link {

		&:not(.active) {
			padding-top: .3rem;
			padding-bottom: .3rem;
			border-radius: $nav-tabs-border-radius;

			&:hover {
				background-color: $gray-200;
			}
		}
	}
}


.nav-underline {

	.nav-item:not(:last-child) {
		margin-right: 1rem;
	}

	.nav-link {

		&:not(.active) {

			&:hover:after {
				height: $nav-underline-link-active-highlight-height;
				background-color: $primary;
			}
		}
	}
}


.nav-pills {

	.nav-item:not(:last-child) {
		margin-right: .625rem;
	}

	.nav-link {
		padding: .25rem .625rem;

		&:not(.active):not(.disabled) {
			color: $body-color;
		}

		&:hover:not(.active) {
			background-color: $primary-l3;
		}
	}

	&.nav-inverse {

		.nav-link {

			&:not(.active):not(.disabled) {
				color: $white;
			}

			&.active,
			&:hover:not(.active):not(.disabled) {
				color: $primary-d2;
				background-color: $white;
			}
		}
	}
}
