.table {
	font-weight: $font-weight-light;

	& > thead > tr,
	& > tbody > tr,
	& > tfoot > tr {

		&.active > th,
		&.active > td,
		&.table-active > th,
		&.table-active > td,
		th.active,
		td.active {
			box-shadow: inset 0 #{$table-list-border-y-width} $table-list-border-color,
				inset 0 -#{$table-list-border-y-width} $info;
		}
	}
}

.table,
.table-list {

	th.sortable {
		cursor: pointer;
		@include user-select(none);
	}

	th, td {

		&:first-child {
			padding-left: 1rem;
		}

		&:last-child {
			padding-right: 1rem;
		}
	}

	&.table-border-top-0 {

		> thead,
		> tbody,
		> tfoot {

			> tr:first-child {

				> td,
				> th {
					box-shadow: none;
				}
			}
		}
	}

	&.thead-border-top-0 {

		> thead > tr:first-child {

			> td,
			> th {
				box-shadow: none;
			}
		} 
	}

	&.tbody-border-top-0 {

		> tbody > tr:first-child {

			> td,
			> th {
				box-shadow: none;
			}
		} 
	}

	&.tbody-valign-top {
		td:first-child {
			padding-top: 1rem;
		}
	}
}

.react-bootstrap-table {

	.row-expand-slide-appear {
		max-height: 0;
		overflow: hidden;

		&-active {
			max-height: 1000px;
			transition: max-height 3s linear;
		}
	}

	.row-expand-slide-exit {
		max-height: 1000px;

		&-active {
			max-height: 0;
			overflow: hidden;
			transition: max-height .4s cubic-bezier(0,.95,0,.95);
		}
	}

	.table-hover tbody tr.cursor-pointer:hover,
	.table-list.table-hover tbody tr.cursor-pointer:hover td,
	.table-list.table-hover tbody tr.cursor-pointer:hover th {
		background-color: #bfeaff;
	}
}



