.dropdown-menu {
	font-weight: $font-weight-light;
	box-shadow: $dropdown-box-shadow;
}

.dropdown-item {
	font-weight: $font-weight-light;

	.dropdown-menu-indicator-end &:not(.active) .dropdown-item-indicator-end {
		display: none;
	}
}

.placeholder {
	color: $gray-400;
	font-style: italic;
}

.dropdown-menu-width-auto {
	max-width: none;
}