#header {
	height: 4.5rem;
	color: $white;
	padding: 0 1rem;
	position: fixed;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $primary;
	z-index: 980;

	.logo {
		display: flex;
		align-items: center;
		font-size: $h4-font-size;
		color: inherit;
		fill: currentColor;

		&:hover {
			text-decoration: none;
		}

		&__icon {}

		&__symbol {
			height: 2rem;
		}

		&__wordmark {
			height: .75rem;
			margin-left: .5rem;
		}

		&__title {
			line-height: 1;
			margin-left: 1rem;
			padding-left: 1rem;
			border-left: .063rem solid rgba($white, .5);
		}
	}
}