$core: (
	white: #fff,
	gray: #484848,
	grayLight: #82888a,
	grayLighter: #cacccd,
	grayLightest: #f2f2f2,
	borderMedium: #c4c4c4,
	border: #dbdbdb,
	borderLight: #e4e7e7,
	borderLighter: #eceeee,
	borderBright: #f4f5f5,
	primary: $primary,
	primaryShade_1: $primary-l1,
	primaryShade_2: $primary-l2,
	primaryShade_3: #80e8e0,
	primaryShade_4: #b2f1ec,
	primary_dark: $primary-d1,
	secondary: #007a87,
	yellow: #ffe8bc,
	yellow_dark: #ffce71
);

.PresetDateRangePicker {

	&_panel {
		padding: 0 22px 11px;
	}

	&_button {
		position: relative;
		height: 100%;
		text-align: center;
		background: 0 0;
		border: 2px solid map-get($core, primary);
		color: map-get($core, primary);
		padding: 4px 12px;
		margin-right: 8px;
		font: inherit;
		font-weight: 700;
		line-height: normal;
		overflow: visible;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		cursor: pointer;

		&:active {
			outline: 0
		}

		&__selected {
			color: map-get($core, white);
			background: map-get($core, primary);
		}
	}
}

.SingleDatePickerInput {
	display: inline-block;
	background-color: map-get($core, white);

	&__withBorder {
		border-radius: 2px;
		border: 1px solid map-get($core, border);
	}

	&__rtl {
		direction: rtl;
	}

	&__disabled {
		background-color: map-get($core, grayLightest);
	}

	&__block {
		display: block;
	}

	&__showClearDate {
		padding-right: 30px;
	}

	&_clearDate {
		background: 0 0;
		border: 0;
		color: inherit;
		font: inherit;
		line-height: normal;
		overflow: visible;
		cursor: pointer;
		padding: 10px;
		margin: 0 10px 0 5px;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);

		&:focus,
		&:hover {
			background: map-get($core, border);
			border-radius: 50%;
		}

		&__small {
			padding: 6px;
		}

		&__hide {
			visibility: hidden;
		}

		&_svg {
			fill: map-get($core, grayLight);
			height: 12px;
			width: 15px;
			vertical-align: middle;
		}

		&_svg__small {
			height: 9px;
		}
	}

		
	&_calendarIcon {
		background: 0 0;
		border: 0;
		color: inherit;
		font: inherit;
		line-height: normal;
		overflow: visible;
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		padding: 10px;
		margin: 0 5px 0 10px;

		&_svg {
			fill: map-get($core, grayLight);
			height: 15px;
			width: 14px;
			vertical-align: middle;
		}
	}
}

	
.SingleDatePicker {
	position: relative;
	display: inline-block;

	&_block {
		display: block;
	}

	&_picker {
		z-index: 1;
		background-color: map-get($core, white);
		position: absolute;

		&__rtl {
			direction: rtl;
		}

		&__directionLeft {
			left: 0;
		}

		&__directionRight {
			right: 0;
		}

		&__portal {
			background-color: rgba(0,0,0,.3);
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}

		&__fullScreenPortal {
			background-color: map-get($core, white);
		}
	}
		
	&_closeButton {
		background: 0 0;
		border: 0;
		color: inherit;
		font: inherit;
		line-height: normal;
		overflow: visible;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		padding: 15px;
		z-index: 2;

		&:focus,
		&:hover {
			color: darken(map-get($core, grayLighter),10%);
			text-decoration: none;
		}

		&_svg {
			height: 15px;
			width: 15px;
			fill: map-get($core, grayLighter);
		}
	}
}


.DayPickerKeyboardShortcuts {

	&_buttonReset {
		background: 0 0;
		border: 0;
		border-radius: 0;
		color: inherit;
		font: inherit;
		line-height: normal;
		overflow: visible;
		padding: 0;
		cursor: pointer;
		font-size: 14px;

		&:active {
			outline: 0;
		}
	}

	
	&_show {
		width: 33px;
		height: 26px;
		position: absolute;
		z-index: 2;

		&::before {
			content: "";
			display: block;
			position: absolute;
		}

		&__bottomRight {
			bottom: 0;
			right: 0;

			&::before {
				border-top: 26px solid transparent;
				border-right: 33px solid map-get($core, primary);
				bottom: 0;
				right: 0;
			}

			&:hover::before {
				border-right: 33px solid map-get($core, primary_dark);
			}
		}

		&__topRight {
			top: 0;
			right: 0;

			&::before {
				border-bottom: 26px solid transparent;
				border-right: 33px solid map-get($core, primary);
				top: 0;
				right: 0;
			}

			&:hover::before {
				border-right: 33px solid map-get($core, primary_dark);
			}
		}

		&__topLeft {
			top: 0;
			left: 0;

			&::before {
				border-bottom: 26px solid transparent;
				border-left: 33px solid map-get($core, primary);
				top: 0;
				left: 0;
			}

			&:hover::before {
				border-left: 33px solid map-get($core, primary_dark);
			}
		}	
	}

		
	&_showSpan {
		color: map-get($core, white);
		position: absolute;

		&__bottomRight {
			bottom: 0;
			right: 5px;
		}

		&__topRight {
			top: 1px;
			right: 5px;
		}

		&__topLeft {
			top: 1px;
			left: 5px;
		}
	}
		
	&_panel {
		overflow: auto;
		background: map-get($core, white);
		border: 1px solid map-get($core, border);
		border-radius: 2px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 2;
		padding: 22px;
		margin: 33px;
		text-align: left;
	}

	&_title {
		font-size: 16px;
		font-weight: 700;
		margin: 0;
	}

	&_list {
		list-style: none;
		padding: 0;
		font-size: 14px;
	}

	&_close {
		position: absolute;
		right: 22px;
		top: 22px;
		z-index: 2;

		&:active {
			outline: 0;
		}
	}
		
	&_closeSvg {
		height: 15px;
		width: 15px;
		fill: map-get($core, grayLighter);

		&:focus,
		&:hover {
			fill: map-get($core, grayLight);
		}
	}
}

	
.CalendarDay {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 14px;
	text-align: center;

	&:active {
		outline: 0;
	}

	&__defaultCursor {
		cursor: default;
	}

	&__default {
		border: 1px solid map-get($core, borderLight);
		color: map-get($core, gray);
		background: map-get($core, white);

		&:hover {
			background: map-get($core, borderLight);
			border: 1px solid map-get($core, borderLight);
			color: inherit;
		}
	}

		
	&__hovered_offset {
		background: map-get($core, borderBright);
		border: 1px double map-get($core, borderLight);
		color: inherit;
	}

	&__outside {
		border: 0;
		background: map-get($core, white);
		color: map-get($core, gray);

		&:hover {
			border: 0;
		}
	}
		
	&__blocked_minimum_nights {
		background: map-get($core, white);
		border: 1px solid map-get($core, borderLighter);
		color: map-get($core, grayLighter);

		&:active,
		&:hover {
			background: map-get($core, white);
			color: map-get($core, grayLighter);
		}
	}
		
	&__highlighted_calendar {
		background: map-get($core, yellow);
		color: map-get($core, gray);

		&:active,
		&:hover {
			background: map-get($core, yellow_dark);
			color: map-get($core, gray);
		}
	}
		
	&__selected_span {
		background: map-get($core, primaryShade_2);
		border: 1px double map-get($core, primaryShade_2);

		&:active,
		&:hover {
			background: map-get($core, primaryShade_1);
			border: 1px double map-get($core, primaryShade_1);
			color: map-get($core, white);
		}
	}

		
	&__selected {

		&,
		&:active,
		&:hover {
			background: map-get($core, primary);
			border: 1px double map-get($core, primary);
			color: map-get($core, white);
		}
	}

	&__hovered_span {

		&,
		&:hover {
			background: map-get($core, primaryShade_2);
			border: 1px double map-get($core, primaryShade_2);
		}

		&:active {
			background: map-get($core, primaryShade_1);
			border: 1px double map-get($core, primaryShade_1);
			color: map-get($core, white);
		}
	}

	&__blocked_calendar {

		&,
		&:active,
		&:hover {
			background: map-get($core, grayLighter);
			border: 1px solid map-get($core, grayLighter);
			color: map-get($core, grayLight);
		}
	}

	&__blocked_out_of_range {

		&,
		&:active,
		&:hover {
			background: map-get($core, white);
			border: 1px solid map-get($core, borderLight);
			color: map-get($core, grayLighter);
		}
	}

	&__hovered_start_first_possible_end {
		background: map-get($core, borderLighter);
		border: 1px double map-get($core, borderLighter);
	}

	&__hovered_start_blocked_min_nights {
		background: map-get($core, borderLighter);
		border: 1px double map-get($core, borderLight);
	}
}
	
	
.CalendarMonth {
	background: map-get($core, white);
	text-align: center;
	vertical-align: top;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&_table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	&_verticalSpacing {
		border-collapse: separate;
	}

	&_caption {
		color: map-get($core, gray);
		font-size: 18px;
		text-align: center;
		padding-top: 22px;
		padding-bottom: 37px;
		caption-side: initial;

		&__verticalScrollable {
			padding-top: 12px;
			padding-bottom: 7px;
		}
	}
}

.CalendarMonthGrid {
	background: map-get($core, white);
	text-align: left;
	z-index: 0;

	&__animating {
		z-index: 1;
	}

	&__horizontal {
		position: absolute;
		left: 9px;
	}

	&__vertical,
	&__vertical_scrollable {
		margin: 0 auto;
	}

	&_month__horizontal {
		display: inline-block;
		vertical-align: top;
		min-height: 100%;
	}

	&_month__hideForAnimation {
		position: absolute;
		z-index: -1;
		opacity: 0;
		pointer-events: none;
	}

	&_month__hidden {
		visibility: hidden;
	}
}
	
.DayPickerNavigation {
	position: relative;
	z-index: 2;

	&__horizontal {
		height: 0
	}

	&__verticalScrollable_prevNav {
		z-index: 1
	}

	&__verticalDefault {
		position: absolute;
		width: 100%;
		height: 52px;
		bottom: 0;
		left: 0;
	}

	&__verticalScrollableDefault {
		position: relative;
	}

	&__bottom {
		height: auto;
	}

	&__bottomDefault {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	&_button {
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border: 0;
		padding: 0;
		margin: 0;

		&__default {
			border: 1px solid map-get($core, borderLight);
			background-color: map-get($core, white);
			color: #757575;

			&:focus,
			&:hover {
				border: 1px solid map-get($core, borderMedium);
			}

			&:active {
				background: map-get($core, grayLightest);
			}
		}
			
		
		&__disabled {
			cursor: default;
			border: 1px solid map-get($core, grayLightest);

			&:focus,
			&:hover {
				border: 1px solid map-get($core, grayLightest);
			}

			&:active {
				background: 0 0;
			}
		}
			
		&__horizontalDefault {
			position: absolute;
			top: 18px;
			line-height: .78;
			border-radius: 3px;
			padding: 6px 9px;
		}
	}
		
	&_bottomButton__horizontalDefault {
		position: static;
		margin: -10px 22px 30px;
	}

	&_leftButton__horizontalDefault {
		left: 22px;
	}

	&_rightButton__horizontalDefault {
		right: 22px;
	}

	&_button__verticalDefault {
		padding: 5px;
		background: map-get($core, white);
		box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
		position: relative;
		display: inline-block;
		text-align: center;
		height: 100%;
		width: 50%;
	}

	&_nextButton__verticalDefault {
		border-left: 0;
	}

	&_nextButton__verticalScrollableDefault,
	&_prevButton__verticalScrollableDefault {
		width: 100%;
	}

	&_svg {

		&__horizontal {
			height: 19px;
			width: 19px;
			fill: map-get($core, grayLight);
			display: block;
		}

		&__vertical {
			height: 42px;
			width: 42px;
			fill: map-get($core, gray);
		}

		&__disabled {
			fill: map-get($core, grayLightest);
		}
	}
}
	
.DayPicker {
	background: map-get($core, white);
	position: relative;
	text-align: left;

	&__horizontal {
		background: map-get($core, white);
	}

	&__verticalScrollable {
		height: 100%;
	}

	&__hidden {
		visibility: hidden;
	}

	&__withBorder {
		box-shadow: 0 2px 6px rgba(0,0,0,.05),0 0 0 1px rgba(0,0,0,.07);
		border-radius: 3px;
	}

	&_portal {

		&__horizontal {
			box-shadow: none;
			position: absolute;
			left: 50%;
			top: 50%;
		}

		&__vertical {
			position: initial;
		}
	}

	&_focusRegion {
		outline: 0;
	}

	&_calendarInfo__horizontal,
	&_wrapper__horizontal {
		display: inline-block;
		vertical-align: top;
	}

	&_weekHeaders {
		position: relative;

		&__horizontal {
			margin-left: 9px;
		}
	}
		
	&_weekHeader {
		color: #757575;
		position: absolute;
		top: 62px;
		z-index: 2;
		text-align: left;

		&__vertical {
			left: 50%;
		}

		&__verticalScrollable {
			top: 0;
			display: table-row;
			border-bottom: 1px solid map-get($core, border);
			background: map-get($core, white);
			margin-left: 0;
			left: 0;
			width: 100%;
			text-align: center;
		}

		&_ul {
			list-style: none;
			margin: 1px 0;
			padding-left: 0;
			padding-right: 0;
			font-size: 14px;
		}

		&_li {
			display: inline-block;
			text-align: center;
		}
	}

	&_transitionContainer {
		position: relative;
		overflow: hidden;
		border-radius: 3px;

		&__horizontal {
			transition: height .2s ease-in-out;
		}

		&__vertical {
			width: 100%;
		}

		&__verticalScrollable {
			padding-top: 20px;
			height: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			overflow-y: scroll;
		}
	}
		
}
	
.DateInput {
	margin: 0;
	padding: 0;
	background: map-get($core, white);
	position: relative;
	display: inline-block;
	width: 130px;
	vertical-align: middle;

	&__small {
		width: 97px;
	}

	&__block {
		width: 100%;
	}

	&__disabled {
		background: map-get($core, grayLightest);
		color: map-get($core, border);
	}

	&_input {
		display: block;
		width: 100%;
		height: $input-height;
		padding: $input-padding-y $input-padding-x;
		font-family: $input-font-family;
		@include font-size($input-font-size);
		font-weight: $input-font-weight;
		line-height: $input-line-height;
		color: $input-color;
		background-color: $input-bg;
		background-clip: padding-box;
		border: $input-border-width solid $input-border-color;
		@include border-radius($input-border-radius);
		@include box-shadow($input-box-shadow);
		@include transition($input-transition);

		&::placeholder {
			color: $input-placeholder-color;
			opacity: 1;
		}

		&__small {
			height: $input-height-sm;
			padding: $input-padding-y-sm $input-padding-x-sm;
			@include font-size($input-font-size-sm);
			line-height: $input-line-height-sm;
			height: $input-height-sm;
			@include border-radius($input-border-radius-sm);
		}

		&__regular {
			font-weight: auto;
		}

		&__readOnly {
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		&__focused {
			background-color: $input-bg;
			border-color: $primary;
			outline: 0;
			box-shadow: 0 0 0 .05rem rgba($primary, 1);

			&::placeholder {
				color: $input-placeholder-focus-color;
			}
		}

		&__disabled {
			background-color: $input-disabled-bg;
			border-color: $input-disabled-border-color;
			color: $input-disabled-color;
			cursor: $input-disabled-cursor;
			opacity: $input-disabled-opacity;
			//background: map-get($core, grayLightest);
			//font-style: italic;
		}
	}

	&_screenReaderMessage {
		border: 0;
		clip: rect(0,0,0,0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	&_fang {
		position: absolute;
		width: 20px;
		height: 10px;
		left: 22px;
		z-index: 2;
	}

	&_fangShape {
		fill: map-get($core, white);
	}

	&_fangStroke {
		stroke: map-get($core, border);
		fill: transparent;
	}
}
	
.DateRangePickerInput {
	background-color: map-get($core, white);
	display: inline-block;

	&__disabled {
		background: map-get($core, grayLightest);
	}

	&__withBorder {
		border-radius: 2px;
		border: 1px solid transparent;
	}

	&__rtl {
		direction: rtl;
	}

	&__block {
		display: block;
	}

	&__showClearDates {
		padding-right: 30px;
	}

	&_arrow {
		display: inline-block;
		vertical-align: middle;
		color: map-get($core, gray);

		&_svg {
			vertical-align: middle;
			fill: map-get($core, gray);
			height: 24px;
			width: 24px;
		}
	}

	&_clearDates {
		background: 0 0;
		border: 0;
		color: inherit;
		font: inherit;
		line-height: normal;
		overflow: visible;
		cursor: pointer;
		padding: 10px;
		margin: 0 10px 0 5px;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);

		&__small {
			padding: 6px;
		}

		&_default {

			&:focus,
			&:hover {
				background: map-get($core, border);
				border-radius: 50%;
			}
		}

		&__hide {
			visibility: hidden;
		}

		&_svg {
			fill: map-get($core, grayLight);
			height: 12px;
			width: 15px;
			vertical-align: middle;

			&__small {
				height: 9px;
			}
		}
	}
		
	&_calendarIcon {
		background: 0 0;
		border: 0;
		color: inherit;
		font: inherit;
		line-height: normal;
		overflow: visible;
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		padding: 10px;
		margin: 0 5px 0 10px;

		&_svg {
			fill: map-get($core, grayLight);
			height: 15px;
			width: 14px;
			vertical-align: middle;
		}
	}
}

	
.DateRangePicker {
	position: relative;
	display: inline-block;

	&__block {
		display: block;
	}

	&_picker {
		z-index: 1;
		background-color: map-get($core, white);
		position: absolute;

		&__rtl {
			direction: rtl;
		}

		&__directionLeft {
			left: 0;
		}

		&__directionRight {
			right: 0;
		}

		&__portal {
			background-color: rgba(0,0,0,.3);
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}

		&__fullScreenPortal {
			background-color: map-get($core, white);
		}
	}
		
	&_closeButton {
		background: 0 0;
		border: 0;
		color: inherit;
		font: inherit;
		line-height: normal;
		overflow: visible;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		padding: 15px;
		z-index: 2;

		&:focus,
		&:hover {
			color: darken(map-get($core, grayLighter),10%);
			text-decoration: none;
		}

		&_svg {
			height: 15px;
			width: 15px;
			fill: map-get($core, grayLighter);
		}
	}
}
